// Colors
$first-color:       #ffe600;
$second-color:      #333;
$third-color:       #666;
$fourth-color:      #999;
$fifth-color:       #eee;
$sixth-color:       #3483fa;

// Fonts
$primary-font:        "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif;

// Media Queries
$mobile-devices: "(max-width: 768px)";
$retina-display: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";